@media screen and (min-width: 1200px) {
  .interior-page-header.contact {
    height: 500px;
    padding: 0 0 0% 0; } }
@media screen and (max-width: 980px) {
  .interior-page-header h1 {
    font-size: 34px;
    line-height: 34px; }
  .interior-page-header.contact #gmap_canvas {
    display: none !important; } }
@media screen and (max-width: 895px) {
  header {
    display: none; }

  .mobile-only {
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
    display: block;
    position: absolute;
    z-index: 9;
    background: rgba(0, 0, 0, 0.6) url(../images/gma-logo-mobile.png) no-repeat center right;
    background-size: 220px; }

  .interior-page-header h1 {
    font-size: 34px;
    line-height: 34px; }
  .interior-page-header.contact #gmap_canvas {
    display: none !important; }

  .interior-page {
    margin: 50px auto; }
    .interior-page p {
      font-size: 14px;
      line-height: 25px; }

  .projects-nav {
    padding: 65px 0px 0px 0px; }

  section#feature .content .feature-wrapper {
    width: 100%; }
    section#feature .content .feature-wrapper .lock-up .top {
      font-size: 34px; }
    section#feature .content .feature-wrapper .lock-up img {
      width: 280px; }
    section#feature .content .feature-wrapper .lock-up .middle {
      font-size: 34px; }
    section#feature .content .feature-wrapper .lock-up .bottom {
      font-size: 18px; } }
@media screen and (max-width: 700px) {
  .interior-page.services .left {
    width: 100%;
    float: none;
    border-right: none;
    text-align: center;
    padding: 0px 0px 40px 0px;
    border-bottom: 2px solid #c3d6e4; }
    .interior-page.services .left h4 {
      text-align: center;
      padding: 0px 0px 30px 0px; }
    .interior-page.services .left p {
      text-align: center;
      padding: 0px 0px 10px 0px; }
  .interior-page.services .right {
    width: 100%;
    float: none;
    text-align: center;
    padding: 40px 0px 0px 0px; }
    .interior-page.services .right h4 {
      text-align: center;
      padding: 0px 0px 30px 0px; }
    .interior-page.services .right p {
      text-align: center;
      padding: 0px 0px 10px 0px; }

  .interior-page.contact p br {
    display: block; }
  .interior-page.contact .left {
    width: 100%;
    float: none;
    border-right: none;
    text-align: center;
    padding: 0px 0px 40px 0px;
    border-bottom: 2px solid #c3d6e4; }
    .interior-page.contact .left h4 {
      text-align: center;
      padding: 0px 0px 0px 0px; }
    .interior-page.contact .left p {
      text-align: center;
      padding: 0px 0px 0px 0px; }
    .interior-page.contact .left a {
      text-align: center;
      padding: 0px 0px 0px 0px; }
  .interior-page.contact .right {
    width: 100%;
    float: none;
    text-align: center;
    border-left: none;
    padding: 40px 0px 0px 0px; }
    .interior-page.contact .right h4 {
      text-align: center;
      padding: 0px 0px 0px 0px; }
    .interior-page.contact .right p {
      text-align: center;
      padding: 0px 0px 0px 0px; }
    .interior-page.contact .right a {
      text-align: center;
      padding: 0px 0px 0px 0px; }

  .interior-page.recognition .wrapper {
    margin: 40px 0px; }
  .interior-page.recognition .left {
    width: 100%;
    float: none;
    border-right: none;
    text-align: center;
    padding: 0px 0px 40px 0px;
    border-bottom: 2px solid #c3d6e4; }
    .interior-page.recognition .left h4 {
      text-align: center;
      padding: 0px 0px 40px 0px; }
    .interior-page.recognition .left p {
      text-align: center;
      padding: 0px 0px 30px 0px; }
  .interior-page.recognition .right {
    width: 100%;
    float: none;
    text-align: center;
    border-left: none;
    padding: 40px 0px 0px 0px; }
    .interior-page.recognition .right h4 {
      text-align: center;
      padding: 0px 0px 40px 0px; }
    .interior-page.recognition .right p {
      text-align: center;
      padding: 0px 0px 30px 0px; } }
@media screen and (max-width: 500px) {
  .interior-page-header {
    padding: 0 0 60% 0; }
    .interior-page-header .wrapper {
      padding: 31% 0 0 0; } }
