<h3><perch:content id="employee-name" type="text" label="Employee Name:" required="true"  /></h3>
<div class='div-accordion'>
  <h4>
    <perch:content id="employee-creds" type="text" label="Employee Creds:" required="true"  />
  </h4>
  <h5>
    <perch:content id="employee-title" type="text" label="Employee Title:" required="true"  />
  </h5>
  <p><perch:content id="employee-bio" type="textarea" label="Employee Bio:" markdown="true" editor="markitup" />
  </p>
  <a href='mailto:<perch:content id="employee-email" type="text" label="Employee Email:" required="true"  />'><perch:content id="employee-email" type="text" label="Employee Email:" required="true"  /></a>
</div>
